.footer {
    margin-top: 30px;
}

.footer-main {
    background-color: $white-accent;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__link {
    display: block;
    align-items: center;
    justify-content: center;
}