.footer {
    margin-top: 30px;
}

.footer-main {
    background-color: $white-accent;
}

.footer-logo {
    width: 84px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
}

.footer-logo__hell {
    margin-right: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    // line-height: 32px;
    letter-spacing: 0.04em;
    color: $main-color;
}

.footer-logo__en {
    margin-left: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    // line-height: 32px;
    letter-spacing: 0.04em;
    color: $main-color;
}

.footer-logo__hellen {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5px;
    letter-spacing: 0.15em;
    color: $main-color;
}

.footer-logo__img {
    width: 15px;
}

.footer-contact {

    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-align: center;
    color: $main-color;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;

    &__img {
        margin-right: 10px;
    }
}

.footer-instagram {
    display: block;

    // background-image: url(../images/footer/instagram-white.svg), radial-gradient(110.28% 110.28% at 20.5% 87.39%, #FAE100 0%, #FADC04 5.44%, #FBCE0E 11.67%, #FCB720 18.29%, #FE9838 25.14%, #FF7950 30.54%, #FF1C74 49.22%, #6C1CD1 100%);
    background-image: url(../images/footer/instagram-gradient.svg); 
    // linear-gradient(225.4deg, #833AB4 18.3%, #9C3495 24.28%, #DC2546 37.27%, #FD1D1D 43.71%, #FC6831 54.52%, #FC9B40 62.93%, #FCAF45 67.04%, #FDB750 68.89%, #FECB6A 74.4%, #FFD87A 79.32%, #FFDC80 83.11%,),
    // linear-gradient(318.52deg, rgba(131, 58, 180, 0) 64.74%, #833AB4 106.74%),
    // linear-gradient(315deg, rgba(131, 58, 180, 0) 39.5%, #833AB4 115.97%),
    // linear-gradient(348.01deg, rgba(131, 58, 180, 0) 16.68%, #833AB4 83.38%),
    // linear-gradient(314.85deg, rgba(131, 58, 180, 0) 68.66%, #833AB4 99.14%),
    // linear-gradient(180deg, rgba(250, 225, 0, 0) 41.26%, rgba(252, 168, 0, 0.305882) 65.21%, rgba(254, 115, 0, 0.627451) 90.26%, rgba(255, 82, 0, 0.866667) 109.08%, #FF4500 119.35%),
    // linear-gradient(299.36deg, rgba(161, 181, 216, 0) 61.06%, rgba(144, 162, 189, 0.309804) 110.82%, rgba(124, 139, 156, 0.756863) 182.56%, #748290 221.9%),
    // radial-gradient(110.28% 110.28% at 20.5% 87.39%, #FAE100 0%, #FADC04 5.44%, #FBCE0E 11.67%, #FCB720 18.29%, #FE9838 25.14%, #FF7950 30.54%, #FF1C74 49.22%, #6C1CD1 100%);
    // background-repeat: no-repeat;
    // background-size: 40px 40px;
    // background-position: center;
    // border-radius: 20%;

    width: 40px;
    height: 40px;

    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    

}
