.footer {
  margin-top: 30px;

  @media screen and(min-width: 768px) and(max-width:1379px) {
    margin-top: 40px;
  }

  @media screen and(min-width: 1380px) {
    margin-top: 52px;
  }
}

.footer-main {
  background-color: $white-accent;

  margin-bottom: 30px;

  @media screen and(min-width: 768px) and(max-width:1379px) {
    display: flex;

    margin-bottom: 40px;
  }

  @media screen and(min-width: 1380px) {
    display: flex;

    margin-bottom: 53px;
  }
}

.footer-logo {
  width: 84px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width: 768px) and(max-width:1379px) {
    width: 130px;
    height: 45px;

    margin-left: 0px;
    margin-right: 177px;
  }

  @media screen and(min-width: 1380px) {
    width: 130px;
    height: 45px;

    margin-left: 0px;
    margin-right: 290px;
  }
}

.footer-logo__hell {
  margin-right: 4px;

  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: $main-color;

  @media screen and(min-width: 768px) and(max-width:1379px) {
    font-size: 26px;
    line-height: 32px;
  }

  @media screen and(min-width: 1380px) {
    font-size: 26px;
    line-height: 32px;
  }
}

.footer-logo__en {
  margin-left: 4px;

  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: $main-color;

  @media screen and(min-width: 768px) and(max-width:1379px) {
    font-size: 26px;
    line-height: 32px;
  }

  @media screen and(min-width: 1380px) {
    font-size: 26px;
    line-height: 32px;
  }
}

.footer-logo__hellen {
  font-weight: 700;
  font-size: 5px;
  letter-spacing: 0.15em;
  color: $main-color;

  @media screen and(min-width: 768px) and(max-width:1379px) {
    margin-top: 5px;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.18em;
  }

  @media screen and(min-width: 1380px) {
    margin-top: 5px;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.18em;
  }
}

.footer-logo__img {
  width: 15px;

  @media screen and(min-width: 768px) and(max-width:1379px) {
    width: 22px;
  }

  @media screen and(min-width: 1380px) {
    width: 22px;
  }
}

.footer-contact {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  text-align: center;
  color: $main-color;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  &__img {
    margin-right: 10px;
  }

  @media screen and(min-width: 768px) and(max-width:1379px) {
    font-size: 20px;
    margin: 0px;
    padding-right: 24px;
    height: 40px;
    border-right: 1px solid $secondary-color;

    &__img {
      width: 24px;
    }
  }

  @media screen and(min-width: 1380px) {
    height: 40px;
    font-size: 30px;
    max-height: 40px;
    margin: 0px;

    padding-right: 16px;

    border-right: 1px solid $secondary-color;

    &__img {
      width: 30px;
    }
  }
}

.footer-instagram {
  display: flex;

  background-image: url(../images/footer/instagram-gradient.svg);

  width: 40px;
  height: 40px;

  margin-right: auto;
  margin-left: auto;

  @media screen and(min-width: 768px) and(max-width:1379px) {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 24px;
  }

  @media screen and(min-width: 1380px) {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 24px;
  }
}

.copyright {
  background-color: $main-color;

  @media screen and(min-width: 768px) and(max-width:1379px) {
    padding-left: 50px;
  }

  @media screen and(min-width: 1380px) {
    padding-left: 193px;
  }
}

.copyright__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-align: center;
  color: $secondary-color;

  padding-top: 21px;
  padding-bottom: 21px;

  @media screen and(min-width: 768px) and(max-width:1379px) {
    text-align: left;
  }

  @media screen and(min-width: 1380px) {
    text-align: left;
  }
}
