/* HEADER */
.header {
    background-color: $white-accent;
}


/* HEADER CONTAINER */
.header-container {
    position: relative;
    padding-top: 34px;
    padding-bottom: 51px;
    padding-left: 10px;
    padding-right: 10px;
}


/* HEADER LOGO */
.logo-container {
    width: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-container__hell {
    margin-right: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: $main-color;
}

.logo-container__en {
    margin-left: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: $main-color;
}

.logo-container__hellen {
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.18em;
    color: $main-color;
}


/* BUTTON OPEN MOBILE MENU */
.button-open {
    position: absolute;
    right: 10px;
    top: 39px;
    min-height: 12px;
    min-width: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: $white-accent;
    border: none;
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}


/* MOBILE MENU */
.menu-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    padding-left: 10px;
    padding-top: 34px;
    padding-right: 10px;
    padding-bottom: 34px;
    transform: translateX(100%);
    background-color: rgba(17, 21, 24, 0.9);
    z-index: 4;
}

.menu-container.is-open {
    transform: translateX(0);
    z-index: 4;
}


/* BUTTON CLOSE MOBILE MENU */
.button-close {
    position: absolute;
    right: 10px;
    top: 37px;
    min-height: 15px;
    min-width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    z-index: 4;
}


/* MOBILE MENU LOGO*/
.menu-logo {
    width: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    z-index: 4;
}

.menu-logo__hell {
    margin-right: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: $white-accent;
    z-index: 4;
}

.menu-logo__en {
    margin-left: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: $white-accent;
    z-index: 4;
}

.menu-logo__hellen {
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.18em;
    color: $white-accent;
    z-index: 4;
}

/* MOBILE MENU NAV */
.mobile-nav__list {
    margin-bottom: 50px;
    z-index: 4;
}

.mobile-nav__link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.03em;
    color: $white-accent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 4;
}
  
.mobile-nav__link:hover {
    color: $orange-accent;
    z-index: 4;
}

.mobile-nav__link--current {
    color: $orange-accent;
    z-index: 4;
}


/* MOBILE MENU BUTTON */
.button-menu {
    min-width: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    padding-bottom: 14px; 
    border: 2px solid $orange-accent;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;   
    line-height: 15px;
    letter-spacing: 0.08em;
    color: $orange-accent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    cursor: pointer;
    z-index: 4;
}

.button:hover,
.button:focus,
.button:active {
    background-color: transparent;
    color: $orange-accent;
    z-index: 4;
}