/* HEADER */
.header {
  background-color: $white-accent;
}

/* HEADER CONTAINER */
.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 51px;
  padding-left: 10px;
  padding-right: 10px;
}

/* BUTTON OPEN MOBILE MENU */
.button-open {
  right: 0px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: $white-accent;
  border: none;
  outline: none;
  @include animated(color);
  cursor: pointer;
}

/* MOBILE MENU */
.menu-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  padding-left: 10px;
  padding-top: 34px;
  padding-right: 10px;
  padding-bottom: 34px;
  transform: translateX(100%);
  background-color: rgba(17, 21, 24, 0.9);
  @include animated(transform);

  @media screen and(min-width:1380px) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
  z-index: 1;
}

/* BUTTON CLOSE MOBILE MENU */
.button-close {
  position: absolute;
  top: 34px;
  right: 10px;
  min-height: 40px;
  min-width: 40px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;

  @include animated(color);
  cursor: pointer;
}

.menu-logo__hell {
  margin-right: 4px;

  font-weight: 800;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.04em;
  color: $white-accent;
}

.menu-logo__en {
  margin-left: 4px;

  font-weight: 800;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.04em;
  color: $white-accent;
}

.menu-logo__hellen {
  margin-top: 5px;

  font-weight: 700;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  color: $white-accent;
}

/* MOBILE MENU NAV */
.mobile-nav__list {
  @extend%ul;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mobile-nav__link {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: $white-accent;
  @include animated(color);
}

.mobile-nav__link:hover,
.mobile-nav__link:focus {
  color: $orange-accent;
}

.mobile-nav__link--current {
  color: $orange-accent;
}

/* MOBILE MENU BUTTON */
.button-menu {
  min-width: 260px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 2px solid $orange-accent;
  background-color: transparent;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: $orange-accent;
  @include animated(color);
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  color: $orange-accent;
}
