.hero {
    background-image: url(/images/hero/curve.svg);
    background-position: bottom left -64px;
    background-repeat: no-repeat;
}

.hero-container {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.hero__title {
    margin-top: 0px; 
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: 0.03em;
    color: $main-color;
}

.hero__subtitle-1 {
    margin-top: 0px; 
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: $grey-accent;
}

.hero__subtitle-2 {
    margin-top: 0px; 
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: $main-color;
}

.hero__subtitle-3 {
    margin-top: 0px; 
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: $orange-accent;
}


/* HERO BUTTON */
.button-hero {
    min-width: 260px;
    display: block;
    padding-top: 14px;
    padding-bottom: 14px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: none;
    background-color: $orange-accent;
    font-weight: 700;
    font-size: 12px;   
    line-height: 15px;
    letter-spacing: 0.08em;
    color: $white-accent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.button-hero:hover,
.button-hero:focus,
.button-hero:active {
    background-color: $orange-accent;
    color: $white-accent;
}


/* HERO IMAGE */
.hero__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}