<footer class="footer">
    <div class="container">
        <div class="footer-main">
            <div class="footer-logo">
                <a class="logo__link" href="./index.html">
                    <p>Hell</p>
                    <svg class="footer__img" width="14.95" height="20.38">
                        <use href="./images/footer/fire1.svg"></use>
                    </svg>
                    <p>EN</p>
                    <h4>Адский английский</h4>
                </a>
            </div>
            <a class="footer-contact" href="tel:+380 (000) 000 00 00">
                <svg class="contact__img" width="16" height="12">
                    <use href="./images/footer/tel.svg"></use>
                </svg>
                +380 (000) 000 00 00
            </a>
        </div>
        <div class="footer-secondary">
            <p> &#64 Все права защищены, 2019</p>
        </div>
        
    </div>
</footer>