<div id="contacts" class="footer">
    <div class="container">
        <div class="footer-main">
            <div class="footer-logo">
                <a class="footer-logo__hell">Hell</a>
                <img class="footer-logo__img" src="../src/images/footer/fire.svg" alt="icon-fire" >
                <a class="footer-logo__en">EN</a>
                <a class="footer-logo__hellen">АДСКИЙ АНГЛИЙСКИЙ</a>
            </div>
            <a class="footer-contact" href="tel:+380 (000) 000 00 00">
                <img class="footer-contact__img" src="../src/images/footer/tel.svg" alt="icon-fire" width="20" height="19.21">
                <span class="footer-contact__text">+38 (000) 000 00 00</span>
            </a>
            <a class="footer-instagram" href="https://instagram.com/"  target="_blank"></a>
        </div>
    </div>
        <div class="copyright">
            <p class="copyright__text"> &#64 Все права защищены, 2019</p>
        </div> 
</div>