<!-- HEADER -->
<header>

    <!-- HEADER CONTAINER-->
    <div class="container header-container">

        <!-- HEADER LOGO -->
        <svg width="80" height="29">
            <use href="../src/images/header/icons.svg#icon-logo-header" alt="icon-fire"></use>
        </svg>

        
        <!-- BUTTON OPEN MOBILE MENU -->
        <button class="button-open js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            
            <svg width="21" height="12">
                <use href="../src/images/header/icons.svg#icon-open-menu" alt="open-mobile-menu"></use>
            </svg>

        </button>

    </div>


    <!-- MOBILE MENU -->
    <div class="menu-container js-menu-container" id="mobile-menu">
        

        <!-- MOBILE MENU LOGO -->
        <svg width="80" height="29">
            <use href="../src/images/header/icons.svg#icon-logo-menu" alt="icon-fire"></use>
        </svg>
        

        <!-- BUTTON CLOSE MOBILE MENU -->
        <button class="button-close js-close-menu">
          
            <svg width="15" height="15">
                <use href="../src/images/header/icons.svg#icon-close-menu" alt="close-mobile-menu"></use>
            </svg>
      
        </button>
    

        <!-- MOBILE MENU NAV -->
        <ul class="mobile-nav__list">
            <li class="mobile-nav__item">
                <a href="#program" class="mobile-nav__link mobile-nav__link--current">Программа обучения</a>
            </li>

            <li class="mobile-nav__item">
                <a href="#about" class="mobile-nav__link">О нас</a>
            </li>

            <li class="mobile-nav__item">
                <a href="#how-we-do" class="mobile-nav__link">Варианты обучения</a>
            </li>

            <li class="mobile-nav__item">
                <a href="#contacts" class="mobile-nav__link">Контакты</a>
            </li>
        </ul>


        <!-- MOBILE MENU BUTTON -->
        <button class="button-menu">КОНСУЛЬТАЦИЯ ПО ТЕЛЕФОНУ</button>
        
    </div>

</header>