<!-- HEADER -->
<header>

    <!-- HEADER CONTAINER-->
    <div class="container header-container">

        <!-- HEADER LOGO -->
        <div class="logo-container">
            <a class="logo-container__hell">Hell</a>
            
            <img src="../src/images/header/icon-fire.svg" alt="icon-fire">

            <a class="logo-container__en">EN</a>

            <a class="logo-container__hellen">АДСКИЙ АНГЛИЙСКИЙ</a>
        </div>

        
        <!-- BUTTON OPEN MOBILE MENU -->
        <button class="button-open js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                
            <img src="../src/images/header/icon-open-menu.svg" alt="open-mobile-menu">

        </button>

    </div>


    <!-- MOBILE MENU -->
    <div class="menu-container js-menu-container" id="mobile-menu">
        
        <!-- BUTTON CLOSE MOBILE MENU -->
        <button class="button-close js-close-menu">
          
            <img src="../src/images/header/icon-close-menu.svg" alt="close-mobile-menu">
      
        </button>
        
        
        <!-- MOBILE MENU LOGO -->
        <div class="menu-logo">
            <a class="menu-logo__hell">Hell</a>
            
            <img src="../src/images/header/icon-fire.svg" alt="icon-fire">

            <a class="menu-logo__en">EN</a>

            <a class="menu-logo__hellen">АДСКИЙ АНГЛИЙСКИЙ</a>
        </div>
        

        <!-- MOBILE MENU NAV -->
        <ul class="mobile-nav__list">
            <li class="mobile-nav__item">
                <a href="./index.html" class="mobile-nav__link mobile-nav__link--current">Программа обучения</a>
            </li>

            <li class="mobile-nav__item">
                <a href="" class="mobile-nav__link">О нас</a>
            </li>

            <li class="mobile-nav__item">
                <a href="" class="mobile-nav__link">Варианты обучения</a>
            </li>

            <li class="mobile-nav__item">
                <a href="" class="mobile-nav__link">Контакты</a>
            </li>
        </ul>


        <!-- MOBILE MENU BUTTON -->
        <button class="button-menu">КОНСУЛЬТАЦИЯ ПО ТЕЛЕФОНУ</button>
        
    </div>

</header>