<!-- HERO -->
<section class="hero">

    <!-- HERO CONTAINER-->
    <div class="container hero-container">
        
        <h1 class="hero__title">Комплексная <br> подготовка к ВНО <br> по английскому языку</h1>
        
        <p class="hero__subtitle-1">Просто не будет.</p>

        <p class="hero__subtitle-2">Но ты гарантированно наберешь</p>

        <p class="hero__subtitle-3">+25 баллов</p>

        <!-- HERO BUTTON -->
        <button class="button-hero">ХОЧУ НА БЕСПЛАТНОЕ ЗАНЯТИЕ</button>

        <!--- HERO IMAGE --> 
        <img class="hero__img" src="../src/images/hero/mobile-hero-image.png" alt="teacher"/>
    
    </div>

</section>