<section class="program">

    <div class="container program__container">

        <h2 class="program__title">Наша программа</h2>


        <ul class="program__list">
            <li class="semestr ">

                <p class="semestr__title">1 семестр</p>

                <ul class="semestr__set">

                    <li class="semestr-list">

                        <ul class="semestr-list__item">
                            <li class="semestr__item">
                                — Grammar
                            </li>
                            <li class="semestr__desc">
                                Nouns & Articles
                            </li>
                            <li class="semestr__desc">
                                Adjectives & Adverb
                            </li>
                        </ul>
                    </li>

                    <li class="semestr-list">

                        <ul class="semestr-list__second">
                            <li class="semestr__item">
                                — Vocabulary
                            </li>
                            <li class="semestr__desc">
                                Family & Relations
                            </li>
                            <li class="semestr__desc">
                                People & Society
                            </li>
                        </ul>
                    </li>
                </ul>

            </li>

            <li class="semestr">
                <p class="semestr__title">2 семестр</p>

                <ul class="semestr__set">

                    <li class="semestr-list">

                        <ul class="semestr-list__item">
                            <li class="semestr__item">
                                — Grammar
                            </li>
                            <li class="semestr__desc">
                                Pronouns
                            </li>
                            <li class="semestr__desc">
                                Active Voice
                            </li>
                            <li class="semestr__desc">
                                Passive Voice
                            </li>
                        </ul>
                    </li>

                    <li class="semestr-list">

                        <ul class="semestr-list__second">
                            <li class="semestr__item">
                                — Vocabulary
                            </li>
                            <li class="semestr__desc">
                                Home
                            </li>
                            <li class="semestr__desc">
                                School
                            </li>
                            <li class="semestr__desc">
                                Work
                            </li>
                        </ul>
                    </li>
                </ul>

            </li>
            <li class="semestr">
                <p class="semestr__title">3 семестр</p>

                <ul class="semestr__set">

                    <li class="semestr-list ">

                        <ul class="semestr-list__item">
                            <li class="semestr__item">
                                — Grammar
                            </li>
                            <li class="semestr__desc">
                                Modal verbs
                            </li>
                            <li class="semestr__desc">
                                Infinitive
                            </li>
                            <li class="semestr__desc">
                                Gerund
                            </li>
                            <li class="semestr__desc">
                                Participle: 1, 2
                            </li>
                        </ul>
                    </li>

                    <li class="semestr-list">

                        <ul class="semestr-list__second">
                            <li class="semestr__item">
                                — Vocabulary
                            </li>
                            <li class="semestr__desc">
                                Travel & Tourism
                            </li>
                            <li class="semestr__desc">
                                Culture & Free Time
                            </li>
                            <li class="semestr__desc">
                                Sport
                            </li>
                        </ul>
                    </li>
                    <li class="semestr-list">

                        <ul>
                            <li class="semestr__item">
                                — Writing
                            </li>
                            <li class="semestr__desc">
                                Informal Letter
                            </li>


                        </ul>
                    </li>
                </ul>

            </li>
            <li class="semestr">
                <p class="semestr__title">4 семестр</p>

                <ul class="semestr__set">

                    <li class="semestr-list">

                        <ul class="semestr-list__item">
                            <li class="semestr__item">
                                — Grammar
                            </li>
                            <li class="semestr__desc">
                                Clauses: Conditional and Wishes
                            </li>
                            <li class="semestr__desc">
                                Direct / Reported speech
                            </li>
                            <li class="semestr__desc">
                                Preposition
                            </li>
                            <li class="semestr__desc">
                                Conjunction
                            </li>
                            <li class="semestr__desc">
                                Numeral
                            </li>
                        </ul>
                    </li>

                    <li class="semestr-list">

                        <ul class="semestr-list__second">
                            <li class="semestr__item">
                                — Vocabulary
                            </li>
                            <li class="semestr__desc">
                                Healthy Living
                            </li>
                            <li class="semestr__desc">
                                Nature & Environment
                            </li>
                            <li class="semestr__desc">
                                Money
                            </li>
                        </ul>
                    </li>
                    <li class="semestr-list">

                        <ul>
                            <li class="semestr__item">
                                — Writing
                            </li>
                            <li class="semestr__desc">
                                Formal Letter
                            </li>


                        </ul>
                    </li>
                </ul>

            </li>

            <li class="semestr">

                <p class="semestr__title ">5 семестр</p>


                <ul class="semestr-list ">
                    <li class="semestr__item semestr__item--last">
                        —
                    </li>
                    <li class="semestr__desc">
                        Revision
                    </li>
                    <li class="semestr__desc">
                        Tests
                    </li>
                </ul>

            </li>

        </ul>
  
<div class="benefits">
  

        <h2 class="benefits__title ">Почему нас <br class="benefits__text"> выбирают</h2>
        <div class="benefits__wrapper">
            <ul class="benefits__list">

                <li class="benefits__item">Обучение в малых командах</li>
                <li class="benefits__item">Визуализированные конспекты</li>
                <li class="benefits__item">Каждое занятие имеет цель и конкретный результат</li>
                <li class="benefits__item">Ревльные результаты преподавателя</li>
                <li class="benefits__item">Прогамма курса соответствует требованиям МОН Украины</li>
                <li class="benefits__item">Набор команд по уровням знаний</li>
            </ul>
        </div>
   


</div>
</div>

</section>