<section class="reviews__page">
  <div class="container">
    <h1 class="reviews__title">Отзывы выпускников</h1>
    <div class="reviews__thumb">
      <div class="reviews__tablet">
        <img class="reviews__photo" src="./images/Reviews/@2x7g.jpg" alt="Тоня Кучеровская" />
        <a class="reviews__link" href="">
          <svg width="30px" height="30px">
            <use class="reviews__icon" href="./images/Reviews/vk.svg#vk"></use>
          </svg>
        </a>
      </div>
      <div class="reviews__tablets">
        <h2 class="reviews__name">Тоня Кучеровская</h2>
        <p class="reviews__text">
          Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
        </p>

        <p class="reviews__description">
          За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
          словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
          Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
          авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз я
          можу похизуватись тим, що я студент ... <a href="">читать дальше </a>
        </p>
      </div>
    </div>
    <div>
      <ul class="reviews__list">
        <li class="reviews__item">
          <a href=""><img src="./images/Reviews/2g.jpg" alt="фото девушки" /></a>
        </li>
        <li class="reviews__item">
          <a href=""><img src="./images/Reviews/3g.jpg" alt="фото девушки" /></a>
        </li>
        <li class="reviews__item">
          <a href=""><img src="./images/Reviews/4g.jpg" alt="фото девушки" /></a>
        </li>
        <li class="reviews__item mobile_reviews">
          <a href=""><img src="./images/Reviews/5g.jpg" alt="фото девушки" /></a>
        </li>
        <li class="reviews__item mobile_reviews">
          <a href=""><img src="./images/Reviews/6g.jpg" alt="фото девушки" /></a>
        </li>
        <li class="reviews__item mobile_reviews">
          <a href=""><img src="./images/Reviews/7g.jpg" alt="фото девушки" /></a>
        </li>
        <li class="reviews__item mobile_reviews">
          <a href=""><img src="./images/Reviews/8g.jpg" alt="фото девушки" /></a>
        </li>
      </ul>
    </div>
  </div>
</section>
