.container {
  max-width: 480px;
  min-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width: 768px) {
    max-width: 708px;
  }

  @media screen and(min-width: 1380px) {
    max-width: 1334px;
  }
}
